<html lang="en"><head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Account portal</title>
	<link rel="icon" href="https://assertapp.net/media/logo.png">
	<link rel="stylesheet" href="https://assertapp.net/media/style.css">
</head>
<body>
	<style>
		.service img{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
		li{
			list-style: none;
			position: relative;
		}
		.button{
			margin-left: 40px;
		}
		.button:nth-child(3){
			margin-left: 10px;
		}
	</style>
	<main>
		<header><h1>Account portal</h1></header>
		<h2>Accounts</h2>
		<br>
		<section>
			<ul class="service-list">
				<li class="service-container">
					<code class="service"><img src="https://assertapp.net/media/google.png" alt="Google Logo" height="30px"></code>
					{% if google %}
						<a class="button" style="display: revert;" href="remove/google">Remove</a>
						<a href="change/" style="display: revert;" class="button">Change</a>
					{% endif %}
					{% if not google %}
						<a href="link" style="display: revert;" class="button">Link</a>
					{% endif %}
				</li>
				<br>
				<li class="service-container">
					<code class="service"><img src="https://assertapp.net/media/spotify.png" alt="Spotify Logo" height="30px"></code>
					{% if spotify %}
						<a class="button" style="display: revert;" href="remove/spotify">Remove</a>
						<a href="change/" style="display: revert;" class="button">Change</a>
					{% endif %}
					{% if not spotify %}
						<a href="link" style="display: revert;" class="button">Link</a>
					{% endif %}
				</li>
				<br>
				<li class="service-container">
					<code class="service"><img src="https://assertapp.net/media/alles.png" alt="Alles Logo" height="30px"></code>
					{% if identity %}
						<a class="button" style="display: revert;" href="remove/identity">Remove</a>
						<a href="change/" style="display: revert;" class="button">Change</a>
					{% endif %}
					{% if not identity %}
						<a href="link" style="display: revert;" class="button">Link</a>
					{% endif %}
				</li>
			</ul>
			<br>
			<a href="delete/account" class="button">Delete account</a>
		</section>
	</main>

</body></html>
