<html>
	<head>
		<title>Assert</title>
		<link rel="icon" href="/media/assert.png">
		<link rel="stylesheet" href="/media/style.css">
	</head>
	<body>
		<div class="box">
			<h1>Choose your signin choice</h1>
			<p>We currently have Google. Spotify is a WIP. Do not use it. Seriously. I mean it. Like, don't be surprised to see "Error 500" if you try and click on it. UPDATE: Apache restarted overnight and its here. If you have an issue, email james@chaosgb.co.uk.</p>
			{% if link %}
				{% if not serv=='google' %}
					<a href="/google?link=true&redir={{redir}}">
						<button>Google</button>
					</a>
				{% endif %}
				{% if not serv=='spotify' %}
					<a href="/spotify?link=true&redir={{redir}}">
						<button>Spotify</button>
					</a>
				{% endif %}
			{% endif %}
			{% if not link %}
				<a href="/google?link=false&redir={{redir}}">
					<button>Google</button>
				</a>
				<br>
				<a href="/spotify?link=false&redir={{redir}}">
					<button>Spotify</button>
				</a>
			{% endif %}
		</div>
	</body>
</html>
