<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
		/>
		<title>Assert</title>
		<link rel="icon" href="media/logo.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://assertapp.net/" />
		<meta property="og:title" content="Assert" />
		<meta property="og:description" content="A quick signin provider" />
		<link rel="icon" href="/media/logo.png" />
		<link rel="stylesheet" href="/media/style.css" />
	</head>
	<body>
		<main>
			<h1>Choose your signin choice</h1>
			<nav>
				{% if link %}
					{% if not serv=='google' %}
					<a class="button" href="/google?link=true&redir={{redir}}"> Google </a>
					{% endif %}
					{% if not serv=='spotify' %}
					<a class="button" href="/spotify?link=true&redir={{redir}}"> Spotify </a>
					{% endif %}
				{% endif %}
				{% if not link %}
					{% if not serv=='google' %}
					<a class="button" href="/google?link=false&redir={{redir}}"> Google </a>
					{% endif %}
					{% if not serv=='spotify' %}
					<a class="button" href="/spotify?link=false&redir={{redir}}"> Spotify </a>
					{% endif %}
				{% endif %}
			</nav>
		</main>
	</body>
</html>
