<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
		/>
		<title>Assert: pls close tab much thank</title>

		<link rel="icon" href="/media/logo.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://assertapp.net/" />
		<meta property="og:title" content="Assert" />
		<meta property="og:description" content="A quick signin provider" />
		<link rel="stylesheet" href="/media/style.css" />
	</head>
	<body>
		<main>
			<h1>You may now close this tab!</h1>

			<footer>
				<p>Pls close tab thank bye</p>
				>
			</footer>
		</main>
	</body>
</html>
