<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
		/>
		<title>Assert</title>
		<title>Confirm link</title>
		<link rel="icon" href="/media/logo.png" />
		<link rel="stylesheet" href="/media/style.css" />
	</head>
	<body>
		<main>
			<h1>Please confirm that you want to link these accounts</h1>
			<nav>
				<a
					class="button"
					href="/confirmedlink?code={{code}}&redir={{redir}}"
				>
					Confirm
				</a>
			</nav>
		</main>
	</body>
</html>
