<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
		/>
		<title>Assert ERROR!</title>
		<link rel="icon" href="https://james.chaosgb.co.uk/media/assert.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://assertapp.net/" />
		<meta property="og:title" content="Assert" />
		<meta property="og:description" content="A quick signin provider" />
		<link rel="icon" href="https://james.chaosgb.co.uk/media/assert.png" />
		<link rel="stylesheet" href="/media/styles.css" />
	</head>
	<body>
		<main>
			<h1 class="error">(╯°□°）╯︵ ┻━┻</h1>
			<h2>Something broke!!!!</h2>
			<nav>
				<a
					class="button"
					href="http://james.chaosgb.co.uk/500webhook?url=@everyone,%20%3C@489782553146818581%3E%20's login website broke: {{ error }}'"
				>
					Ping James on discord
				</a>
			</nav>
			<footer>
				<p>Error message: <span class="error">{{ error }}</span></p>
			</footer>
		</main>
	</body>
</html>
