<html>
	<head>
		<title>Assert</title>
		<link rel="icon" href="/media/logo.png">
		<link rel="stylesheet" href="/media/style.css">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{site_url}">
		<meta property="og:title" content="Assert">
		<meta property="og:description" content="A quick signin provider">
		<meta property="og:image" content="/media/logo.png">
	</head>
	<body>
		<div class="box">
			<p>Welcome to assertapp.net! This site is currently a work-in-progress, and will need more than just signin with Google, but it should be released at some point.<br><br>Meanwhile checkout our <a href="discord">Discord Server</a> or our <a href="https://twitter.com/assertapp">Twitter page</a>.</p>
		</div>
	</body>
</html>
