<html>
	<head>
		<title>Assert</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="https://assertapp.net/media/logo.png">
		<link rel="stylesheet" href="/media/homepage.css">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://assertapp.net/">
		<meta property="og:title" content="Assert">
		<meta property="og:description" content="A quick signin provider">
		<meta property="og:image" content="https://assertapp.net/media/logo.png">
	</head>
	<body>
		<div class="header">
      <img class="headericon"src="https://assertapp.net/media/logo.png" draggable="false" style="width:54px; height:54px;"/>
      <h1 class="headertext">
        <br>
        Assert
      </h1>
    </div>
		<div class="box">
			<br><br><h1 class="head1">Welcome to Assert</h1>
      <br><br>
				<h2>We made an easy signin system<br><br><br><br>Check out our <a href="/discord">discord server</a> or our <a href="https://twitter.com/assertapp"> Twitter account</a><br><br><br><br>Read more below</h2>
		</div>
    <div class="box" style="transform: skewY(2.6deg) translateX(-10px); background: white; color: #444444">
      <div class="correctTilt">
        <br><br>
        <h1>Assert is a button</h1>
        <h2>Code a button into your website and some code to process the account. Boom. You've got accounts.<br><br><br><br>Read the <a href="https://docs.assertapp.net">docs</a></h2>
      </div>
      <p></p>
    </div>
    <div class="box" style="margin-top: 50px">
      <h1>We're Open Source</h1>
        <a href="https://assertapp.net/git"><img src="https://assertapp.net/media/github.png" alt="Github Logo"></a>
        <br><br><h2>We uploaded all of our code to Github so you can understand it, so you can find bugs, and because we're in favour of Open Source Software</h2>
    </div>
    <div class="box" style="transform: skewY(2.6deg) translateX(-10px); background: white; color: #444444">
      <div class="correctTilt">
      <h1>Check out our Partners</h1>
        <div style="display: flex; justify-content: space-evenly">
        <div class="contributorBox">
          <a href="https://fivnex.co">
          <img src="https://assertapp.net/media/fivnex.png" alt="Fivnex" height="150px">
          <h2>Fivnex</h2>
          </a>
        </div>
        <div class="contributorBox">
          <a href="https://squakaccess.weebly.com">
            <img src="https://assertapp.net/media/squak.png" alt="Squak Labs" height="150px">
            <h2>Squak Labs</h2>
          </a>
        </div>
	<div class="contributorBox">
          <a href="https://ceccun.com">
            <img src="https://assertapp.net/media/ceccun.png" alt="Ceccun" height="150px">
            <h2>Ceccun</h2>
          </a>
        </div>
      </div>
      <p>Want to partner with Assert? Ask on the <a href="https://assertapp.net/discord">Discord server</a>.</p>
      </div>
    </div>
    <div class="box">
      <br><br>
      <h1>Staff</h1>
        <div style="display: flex; justify-content: space-evenly">
          <div class="contributorBox">
            <a href="https://james.chaosgb.co.uk">
            <img src="https://james.chaosgb.co.uk/media/logo.png" alt="James' Logo" height="150px">
            <p>James Young (@onlytruejames)</p>
            <p style="color: white">Backend dev</p>
            </a>
          </div>
          <div class="contributorBox">
            <a href="https://edaz.codes">
            <img src="https://assertapp.net/media/edaz.png" alt="Edaz's logo" height="150px">
            <p>Edaz</p>
            <p style="color: white">Frontend dev</p>
            </a>
          </div>
          <div class="contributorBox">
            <a href="https://hannahcodes.co.uk">
            <img src="https://assertapp.net/media/hannah.png" alt="Hannah's logo" height="150px">
            <p>Hannah (iHannah-01)</p>
            <p style="color: white">Frontend dev</p>
            </a>
          </div>
        </div>
    </div>
    <p style="color: white">Built in Flask</p>
	</body>
</html>
