<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
		/>
		<title>Assert</title>
		<link rel="icon" href="https://james.chaosgb.co.uk/media/assert.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://assertapp.net/" />
		<meta property="og:title" content="Assert" />
		<meta property="og:description" content="A quick signin provider" />
		<meta
			property="og:image"
			content="https://old.james.chaosgb.co.uk/media/assert.png"
		/>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<main>
			<h1>Assert</h1>
			<br />
			<p>
				Welcome to <strong>assertapp.net</strong>! This site is
				currently a work-in-progress, and will need more than just
				signin with Google, but it should be released at some point.<br /><br />Meanwhile
				checkout our
				<a class="link" href="discord">Discord Server</a> or our
				<a class="link" href="https://twitter.com/assertapp"
					>Twitter page</a
				>.
			</p>
		</main>
	</body>
</html>
