<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <p><h1><u>Assert Privacy Policy</u></h1>
        <br>
        This Privacy Policy describes how your personal information is collected, used, and shared when you visit assertapp.net (the “Site”).
        <br><br>
        <hr><b>INFORMATION WE COLLECT</b>
        <br><br>
        When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information.”
        <br><br>
        We collect Device Information using the following technologies:
        <br><br>
        <ul>
            <li>“Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org. Please note that by disabling cookies, the site may not function for you.</li>
            <li>- “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</li>
        </ul>
        When we talk about “Personal Information” in this Privacy Policy, we are talking about Device Information.
        <br><br>
        <hr><b>HOW DO WE USE YOUR PERSONAL INFORMATION?</b>
        <br><br>
        Your name and location is not stored, although your IP address is, but that will not be used for any purposes. We store some email addresses if a unique UUID is not provided by any service we support.
        <br><br>
        <hr><b>SHARING YOUR PERSONAL INFORMATION</b>
        <br><br>
        The whole point of Assert is to make it easier for developers to integrate signing in methods from multiple companies, all in one app. If you classify "sharing personal information" as handling data provided by third-party companies such as Google, Alles (although as of October 2020, it is not technically a company), Discord, and Twitter (the latter two will be integrated later). If you think that this is wrong, by the same logic, you are against Sign in with Google, Sign in with Twitter, Alles Quickauth, and other companies that are used.
        <br><br>
        Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
        <br><br>
        <hr><b>DO NOT TRACK</b>
        <br><br>
        Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser. This HTTP header was never standardized, and it ended trials in September 2018.
        <br><br>
        <hr><b>YOUR RIGHTS</b>
        <br><br>
        If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.
        <br><br>
        Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.  Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.
        <br><br>
        <hr><b>DATA RETENTION</b>
        <br><br>
        When you use this site, we collect data so that the site can function. We do not sell any data.
        <br><br>
        <hr><b>MINORS</b>
        <br><br>
        The Site is not intended for individuals under the age of 13, as we cannot process their data.
        <br><br>
        <hr><b>CHANGES</b>
        <br><br>
        We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
        <br><br>
        <hr><b>CONTACT US</b>
        <br><br>
        For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at james@chaosgb.co.uk.</p>
</body>
</html>