<html>
	<head>
		<title>Signup or Link</title>
		<link rel="icon" href="https://james.chaosgb.co.uk/media/assert.png">
		<link rel="stylesheet" href="/media/style.css">
	</head>
	<body>
		<div class="box">
			<h1>Signup or Link?</h1>
			<p>If you've never used Assert before, signup. If you have, link.</p>
			<a href="/signup/{{serv}}?redir={{redir}}">
				<button id="signup">Signup</button>
				<label for="signup">By signing up, you agree to the <a href="/tos" target="_blank">Terms of Service</a> and the <a href="/privacy" target="_blank">Privacy Policy</a></label>
			</a>
		</div>
	</body>
</html>
