<html>
	<head>
		<link rel="icon" href="/media/logo.png">
		<title>Spotify</title>
		<link rel="stylesheet" href="media/style.css">
	</head>
	<body>
		<main>
			<h1>Spotify linking...</h1>
			<nav>
				<a class="button" href="/spotifyShorter" target="_blank" id="auth" onclick="auth()">
					Authenticate
				</a>
			{% if link %}
			<a href="/split/spotify?link=true&redir={{redir}}" class="button" id="continue" style="display: none">
				Continue
			</a>
			{% endif %}
			{% if not link %}
				<a href="/split/spotify?link=false&redir={{redir}}" class="button" id="continue" style="display: none">
					Continue
				</a>
	            	{% endif %}
	    		</nav>
		</main>
		<script>
			function auth(){
				document.getElementById("continue").setAttribute("style","");
				document.getElementById("auth").setAttribute("style","display: None")
			}
		</script>
	</body>
</html>
