<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
		/>
		<title>Spotify</title>

		<link rel="icon" href="https://james.chaosgb.co.uk/media/assert.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://assertapp.net/" />
		<meta property="og:title" content="Assert" />
		<meta property="og:description" content="A quick signin provider" />
		<link rel="icon" href="https://james.chaosgb.co.uk/media/assert.png" />
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<main>
			<h1>Sign in with Spotify</h1>
			<nav>
				<button class="button" onclick="auth()">
					Sign in with Spotify
				</button>
			</nav>
		</main>
		<script>
			function auth() {
				var win = open("/spotifyShorter", "_blank");
				win.focus();
				let a = true;
				while (a) {
					if (
						win.location.href ===
						"https://assertapp.net/spotifyallgood"
					) {
						let a = false;
					}
					setTimeout(function () {}, 5000);
				}
				win.close();
				window.href.location = "https://assertapp.net/";
			}
		</script>
	</body>
</html>
